._.git
._.gitignore
._Series 1.1 Docker and Podman (Beginner).md
._Series 1.2 Kind and Minikube (Beginner).md
._Series 1.3 Kubernetes on Raspberry Pi (Intermediate).md
Series 6 Artificial Intelligence (AI) Training & Learnings/1_ollama-local-llm-docker/._1_ollama-local-llm-docker.md
Series 6 Artificial Intelligence (AI) Training & Learnings/1_ollama-local-llm-docker/._docker-compose.yml
Series 6 Artificial Intelligence (AI) Training & Learnings/2_openweb-ui-local-llm-docker/._2_openweb-ui-local-llm-docker.md
Series 6 Artificial Intelligence (AI) Training & Learnings/2_openweb-ui-local-llm-docker/._docker-compose.yml
Series 6 Artificial Intelligence (AI) Training & Learnings/3_hello-genai-docker-model/._3_GitHub - docker_hello-genai_ Very simple GenAI application to try the Docker Model Runner.pdf
Series 6 Artificial Intelligence (AI) Training & Learnings/3_hello-genai-docker-model/._3_hello-genai-docker-model.md
Series 6 Artificial Intelligence (AI) Training & Learnings/._Artificial Intelligence (AI) Learnings.md
Series 6 Artificial Intelligence (AI) Training & Learnings/4_agentic-ai-flows-n8n-docker/._dockerfile
Series 6 Artificial Intelligence (AI) Training & Learnings/4_agentic-ai-flows-n8n-docker/._4_agentic-ai-flows-n8n-docker.md
Series 6 Artificial Intelligence (AI) Training & Learnings/5_self-hosted-ai-starter-n8n-kit/._5_self-hosted-ai-starter-n8n-kit.md
Series 6 Artificial Intelligence (AI) Training & Learnings/6_book-recommender-rag-working-example/._6_book-recommender-rag-working-example.md
Series 6 Artificial Intelligence (AI) Training & Learnings/._LLM_CheatSheet.pdf
Series 6 Artificial Intelligence (AI) Training & Learnings/._Python BT_1759411600.pdf
Series 6 Artificial Intelligence (AI) Training & Learnings/a_verify-openai-connection/._test_connection.py
Series 6 Artificial Intelligence (AI) Training & Learnings/a_verify-openai-connection/._test_connection_no_ssl_check.py
Series 6 Artificial Intelligence (AI) Training & Learnings/a_verify-openai-connection/._a_verify-openai-connection.md
Series 6 Artificial Intelligence (AI) Training & Learnings/7_fine-tune-llama3-llm-ollama/._7_fine-tune-llama3-llm-ollama.md
Series 6 Artificial Intelligence (AI) Training & Learnings/7_fine-tune-llama3-llm-ollama/._Fine Tuning_Fully_Working.ipynb
